<!DOCTYPE html>
<html>

<head>
  <title>Bandas</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Bandas</h1>
  <%for (let i=0; i < bandas.length; i++) { %>
    <h2><%=bandas[i].nombre %></h2>
    <img src="<%= bandas[i].cover%>" alt="Portada de la banda <%=bandas[i].nombre%>">
    <%}%>
</body>

</html>