<!DOCTYPE html>
<html>

<head>
  <title>Bandas</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Generos</h1>
    <% if (generos == []) {%>
        <p>No contamos con bandas de dicho género. Pruebe de nuevo.</p>
        <%} else {%>
            <% for(let i = 0; i < generos.length; i++) { %>
                <ul> 
                    <li> 
                        <a href="./detalleBanda.ejs"> <%= generos[i]%>  </a> 
                    </li>    
                </ul>
            <% } %>
    
        <% } %>
  
</body>

</html>


