<!DOCTYPE html>
<html>

<head>
  <title>Bandas</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Generos</h1>
  OPCIÓN 1
  <% if (idGenero == undefined) {%>
    <p>No contamos con bandas de dicho género. Pruebe de nuevo.</p>
    <%} else {%>
        <% for(let i = 0; i < generos.length; i++) { %>
            <ul> 
                <li> <%= generos[i]%> </li>    
            </ul>
        <% } %>

    <% } %>

    <% if (idGenero == undefined) {%>
        <p>No contamos con bandas de dicho género. Pruebe de nuevo.</p>
        <%} else {%>
            <% for(let i = 0; i < generos.length; i++) { %>
                <ul> 
                    <li> <% for(let i = 0; i < generos[i].length; i++) { %> 
                        <li> <a href="./detalleBanda.ejs"> <%= generos[i].[i]%>  </a> </li>
                        <% } %>
                    </li>    
                </ul>
            <% } %>
    
        <% } %>
  
</body>

</html>


